<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin:auto;"></div>
    <%- include('./composant/header') %>
    <section>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, minima sint? Recusandae incidunt pariatur labore obcaecati deleniti ipsam facere accusamus, cupiditate ratione odit corporis molestias asperiores voluptatem voluptas doloribus! Veniam.</p>
    </section>
</body>
</html>